

        <div class="inicio2">

            <main>
                    <p class="titulo1">
                        Hola mi nombre es <br> Danny Eliezer
                    </p>

                    <center><img class="vector" src="/IMG/vector.PNG" alt=""></center>

                    <p class="titulo2">Construyamos algo<br>juntos</p> 
                   
                    
                    <p class="con1">
                        Lo mas interesante sobre construir cosas, es que causa una sensación positiva, todos podemos 
                        contruir muchas cosas, no es necesario construir algo visual, sino que tambien las cosas que no 
                        se pueden ver, son muy importantes para nuestras vidas, esto tambien es importante para nuestros 
                        trabajos, pero es necesario tener en cuenta que al momento de construir algo se requerira de 
                        esfuerzo para poder llegar a nuestro fin, a nuestra meta.
                    </p>
                    

                      
                            <table class="contacto">
                                <tr>
                                    <td>
                                        <img class="img1" src="/IMG/fb_icon-icons.com_65434.png" alt="S" >
                                    </td>
                                    <td>
                                        <img class="img1" src="/IMG/whatsapp-logo_icon-icons.com_57054.png" alt="S" >
                                    </td>
                                    <td>
                                        <img class="img1" src="/IMG/gmail_icon-icons.com_65438.png" alt="S" >
                                    </td>
                                </tr>
                            </table>

            </main>
    
            <nav class="derecha">
                <img src="/IMG/inicio - copia.jpg">
            </nav>
    

        </div>

