        <div class="pro">


                
                <div class="centro">
                    <img class="porpro" src="./img/proyecto.jpg" />
                    <div><h1>Proyectos</h1></div>
                </div>

                <h2 >  Mis trabajos...</h2>
                <p>
                    A lo largo de mi carrera he realizado algunos proyectos sencillos, lo cual veremos tres 
                    de ellas a continuación:
                </p>
                <h3 >
                    Brazo Robotico
                </h3>
                <p>
                    El brazo robótico hecho en el lenguaje de programación Matlab, se simulo este brazo robótico, donde puede realizar movimientos alrededor de su base.
                </p>

                <div class="imag">
                    <img class="pro12" src="./img/pro1.jpg" alt="">
                </div>

                <p>
                    Puede tener acciones de subir, ir a la derecha o izquierda, de igual manera puede rotar y así puede abrir la pinza que vemos al final.
                </p>

                <div class="imag">
                    <img class="pro12" src="./img/pro1.1.jpg" alt="">
                </div>

                <h3><br><br> Calculadora Binaria (Suma y Resta)</h3>
                <p>
                    Proyecto de una calculadora binaria, el cual puede hacer sumas y restas con un resultado que comprende entre un rango determinado de 1 a 15.
                </p>
                <div class="imag">
                    <img class="pro12" src="./img/pro2.png" alt="">
                </div>
                <p>
                    El circuito realizado en dos protoboard que se unieron con el fin de que los componentes del circuito quepa, podemos ver todos los componentes que se usaron en el circuito, para llevar a cabo la calculadora binaria de suma y resta:
                </p>
                <div class="imag">
                    <img class="pro12" src="./img/pro2.1.png" alt="">
                </div>

                <h3><br><br>Lenguajes Formales</h3>
                <p>
                    Este programa fue realizado en el lenguaje de programación C#, se trata de un programa que verifica que los campos sean ingresados de manera correcta conforme a la sintaxis que fue determinado cuando fue programado.
                </p>
                <div class="imag">
                    <img class="pro12" src="./img/pro3.png" alt="">
                </div>
                <p>
                    Verifica que los campos sean ingresados conforme a lo que pida el programa, al contrario no será aceptado, en caso de que se equivoque mostrara el mensaje de como debe ingresarlo y otro mensaje de incorrecto:
                </p>
                <div class="imag">
                    <img class="pro12" src="./img/pro3.1.png" alt="">
                </div>
                <p>
                    Me gusta la programación, pero de igual manera he realizado algunos trabajos relacionados a la electrónica.
                </p>
                


    
           

        </div>