<div class="grid-container">

                
                <div class="centro">
                    <img class="porpro" src="/IMG/servicio.jpg" />
                    <div><h1>Servicios</h1></div>
                </div>
<br>
                <h2 >  Te interesa...</h2>
                <br>
                <div class="parafo1">
                  Actualmente soy estudiante de ingeniería en sistemas, en el semestre 8, así que trabajo 
                  principalmente en los proyectos de la universidad, hemos realizado algunos proyectos básicos
                   en C++, de igual manera en C#, una replica de un proyecto móvil en Java orientada a objetos 
                   y actualmente aprendo HTML, CSS, JAVASCRIPT, en general como crear un pagina web formal o 
                   sistemas web. 
                </div>
                
<br>
                <table class="ser1">
                  <tr>
                      <td>
                          <img class="img11" src="img/c_icon_132529.png" alt="S" >
                      </td>
                      <td>
                          <img class="img11 uno1" src="img/c_sharp_icon_213045.png" alt="S" >
                      </td>
                      <td>
                          <img class="img11" src="img/social_html5_html_71.png" alt="S" >
                      </td>
                      <td>
                        <img class="img11" src="img/css3-01_icon-icons.com_50918.png" alt="S" >
                    </td>
                    <td>
                      <img class="img11" src="img/javascript_logo_icon_181330.png" alt="S" >
                  </td>
                  </tr>
              </table>
<br>
                <p>
                  Actualmente trabajamos en un proyecto de la universidad, aproximadamente terminaremos en diciembre.
                </p>
<br>
                <table class="ser1">
                  <tr>
                      <td>
                          <img class="img11" src="img/social_html5_html_71.png" alt="S" >
                      </td>
                      <td>
                        <img class="img11" src="img/css3-01_icon-icons.com_50918.png" alt="S" >
                    </td>
                    <td>
                      <img class="img11" src="img/javascript_logo_icon_181330.png" alt="S" >
                  </td>
                  <td>
                    <img class="img11" src="img/data_storage_database_icon_194717 (2).png" alt="S" >
                </td>
               
                  </tr>
              </table>   


    
            

        </div>