<div class="grid-container">

                
                <div class="centro">
                    <img class="porpro" src="./img/sobremi.jpg" />
                    <div><h1>Sobre mí</h1></div>
                </div>

                <h2 >  Conoceme...</h2>
                <p>
                  Mi nombre completo es Danny Eliezer Ixcayá Xajil, nací el 20 de enero del 2001, tengo 21 años.  
                </p>
                <p>
                  Soy estudiante de la universidad Mariano Gálvez de Guatemala, en la sede del departamento de Sololá. 
                  Estudio Ingeniería en sistemas, en el octavo semestre de la carrera.  
                </p>
                

                <table class="ser1">
                  <tr>
                      <td>
                          <img class="img111" src="img/p1 - copia.jpg" alt="S" >
                      </td>
                      <td>
                          <img class="img112 uno1" src="img/sobre1.png" alt="S" >
                      </td>
                      <td>
                          <img class="img111" src="img/p2 - copia.jpg" alt="S" >
                      </td>
                      
                  </tr>
              </table>

                <p>
                  A lo largo del tiempo he aprendido sobre los lenguajes de programación que la universidad 
                  enseña, pero la que más me gusta es sobre los lenguajes de programación que se usan para crear 
                  las páginas web o sistemas web. He reforzado algunos conocimientos con algunos cursos gratis, 
                  de igual manera la plataforma más grande de internet que es Google, últimamente he estado 
                  asesorando algunos estudiantes del nivel medio con cursos como matemática y algunos otros 
                  proyectos relacionados con la computación o programación.
                </p>
                <div class="imag">
                  <img class="pro12" src="./img/umg.png" alt="">
              </div>
              <p>El mayor triunfo a corto plazo es cerrar pensum en la carrera de ingeniería en sistemas, después graduarme en dicha carrera.</p>

                


    
            
        </div>