<footer>
        <div class="contenedorb">
            <div class="contendb">
                <h4>Carnet</h4>
                <p>2290-14-11283</p>
                <p>2290-17-16574</p>
                <p>2290-18-18781</p>
            </div>
            <div class="contendb">
                <h4>Nombre</h4>
                <p>Diego Samuel Perez</p>
                <p>Bartolome Lacan Quiejú</p>
                <p>Danny Ixcaya Xajil</p>
            </div>
            <div class="contendb">
                <h4>Universidad</h4>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
            </div>
        </div>
        <h2 class="titulofinal">&copy; Etica Profesional | Sololá</h2>
    </footer>