            <header>
                <div id="log"> <img src="img/logo.png" class="logo"/> 
                    <ul class="menu" >
                      <li ><a href="/">Inicio</a></li>
                      <li><a href="/proyecto">Proyectos</a></li>
                      <li><a href="/servicio">Servicios</a></li>
                      <li><a href="/sobremi">Sobre mí</a></li>
                    </ul>
                
            </header>